{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}sdwojiayoubao{% endblock %}
{% block custom_bread %}
    <div class="wp">
        <ul class="crumbs">
            <li><a href="index.html">首页</a>></li>
            <li>产品</li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <section>
        <div class="wp">
            <div class="list" style="margin-top:0;">

                <div class="left layout">
                    <div class="head">
                        <ul class="tab_header">
                            <li class="active"><a href="?sort=">最新 </a></li>
                            {#						<li ><a href="?sort=hot">最热门</a></li>#}
                            {#						<li ><a href="?sort=students">参与人数</a></li>#}
                        </ul>
                    </div>
                    <div id="inWindow">
                        <div class="tab_cont " id="content">
                            <div class="group_list">
                                {% for list_product in all_products.object_list %}
                                    <div class="box">
                                        <a href="">
                                            <img width="280" height="350" class="scrollLoading"
                                                 src="{{ MEDIA_URL }}{{ list_product.image }}"/>
                                        </a>
                                        <div class="des">
                                            <a href="">
                                                <h2>{{ list_product.name }}</h2>
                                            </a>
                                            <span class="fl">价格：<i class="key">{{ list_product.prices }}</i></span>
                                            <span class="fr">购买人数：{{ list_product.buy_nums }}&nbsp;&nbsp;</span>
                                        </div>
                                        <div class="bottom">
                                            <a href=""><span class="fl">我家有堡</span></a>
                                            <span class="starfrnotlogin" data-favid="15">点击数： {{ list_product.click_nums }}</span>
                                        </div>
                                    </div>
                                {% endfor %}


                            </div>
                            <div class="pageturn">
                                <ul class="pagelist">
                                    {% if all_products.has_previous %}
                                        <li class="long"><a href="?{{ all_products.previous_page_number.querystring }}">上一页</a>
                                        </li>

                                    {% endif %}

                                    {% for page in all_products.pages %}
                                        {% if page %}
                                            {% ifequal page all_products.number %}
                                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                            {% else %}
                                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                            {% endifequal %}
                                        {% else %}
                                            <li class="none"><a href="">...</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if all_products.has_next %}
                                        <li class="long"><a
                                                href="?{{ all_products.next_page_number.querystring }}">下一页</a></li>
                                    {% endif %}


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right layout">
                    <div class="head">热门产品推荐</div>
                    <div class="group_recommend">
                    {% for curent_product in hot_products %}
                    <dl>
                            <dt>
                                <a target="_blank" href="">
                                    <img width="240" height="220" class="scrollLoading"
                                         src="{{ MEDIA_URL }}{{ curent_product.image }}"/>
                                </a>
                            </dt>
                            <dd>
                                <a target="_blank" href=""><h2> {{ curent_product.name }}</h2></a>
                                <span class="fl">价格：<i class="key">{{ curent_product.prices }}</i></span>
                            </dd>
                        </dl>
                    {% endfor %}



                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}